<h1><%= t('user.user_list_page') %></h1>

<% @users.each do |user| %>
  <%= link_to user.email, user %>
  <br>
<% end %>

<%= paginate @users %>

<p><%= link_to t('user.edit_my_page'), edit_user_registration_path %></p>

<p><%= link_to t('views.common.back'), books_path %></p>
