<h1>プロフィール</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>住所 : 〒 <%= @user.zip_code %>  <%= @user.address %></p>
<p>プロフィール : <%= @user.introduction %></p>

<p><%= link_to 'マイページを編集', "/users/edit" %>  <%= link_to 'ユーザー一覧を見る', "/users" %></p>
<p><%= link_to 'トップへ戻る', "/books" %></p>


