<h1><%= t('user.profile')%></h1>
<p><%= User.human_attribute_name(:name)%> : <%= @user.name %></p>
<p><%= User.human_attribute_name(:email)%> : <%= @user.email %></p>
<p><%= User.human_attribute_name(:zip_code)%> : 〒 <%= @user.zip_code %></p>
<p><%= User.human_attribute_name(:address)%> : <%= @user.address %></p>
<p><%= User.human_attribute_name(:introduction)%> : <%= @user.introduction %></p>

<p><%= link_to t('user.go_to_top_page'), books_path %></p>
<p><%= link_to t('user.user_list_page'), users_path %></p>
